{% load static %}
<!-- info block -->
<div class="info__block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-xl-4 col-md-6 col-lg-12">
        <div class="ask__box">
          <div class="row">
            <div class="col-xl-12">
              <div class="ask__text__header">
                <p class="ask__text">
                  Возникли вопросы?
                  <button class="ask__button">
                    <a href="#" data-toggle="modal" data-target="#modal-question">
                      Задать вопрос</a>
                  </button>
                </p>

              </div>
            </div>
            <div class="col-xl-8">
              <p class="ask__text__small">
                Воспользуйтесь формой <br>
                <strong>«Задать вопрос»</strong> <br>
                и наш специалист ответит вам <br>
                в ближайшее время
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-xl-4 col-md-6 col-lg-12">
        <div class="search__box__img">
          <div class="search__work__box">
            <div class="row">
              <div class="col-xl-12">
                <div class="ask__text__header">
                  <p class="search__text__header">
                    Поиска работы
                    <button class="button__search__work">
                      <a href="http://www.bewelder.ru/" target="_blank">
                        Найти работу</a>
                    </button>
                  </p>
                  <p class="search__text__header__two">
                    в области сварки
                  </p>

                </div>
              </div>
              <div class="col-xl-12">
                <p class="adress__site_bw">
                  BEWELDER.RU
                </p>
                <p class="button__place__a__job">
                  <a href="http://www.bewelder.ru/" target="_blank" class="button__place__a__job">Разместить вакансию
                    <img src="{% static 'img/arrow__next-02.png' %}" class="arrow__next__tree" alt="">
                </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-xl-4 col-md-12 col-lg-12">
        <div class="journal__box__img">
          <div class="journal__box">
            <div class="journal__img__header">
              <img src="{% static 'img/journal__logo.png' %}" alt="">
            </div>
            <p class="journal__text">
              Научно-технический и производственный <br>
              журнал по сварке, контролю и диагностике
            </p>
            <a href="http://svarka.naks.ru/" class="button__svarka" target="_blank">
              svarka.naks.ru
            </a>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- end info block -->