{% load static %}{% load link_holders %}
<!-- BG info -->
{% autoescape off %}
<div class="bg-block-01">
  <div class="bg">
    <div class="blog-info">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <img src="{% static 'img/SASP.png' %}" class="sasp__logo" alt="">

            <div class="about__organization__text">
              {% chunk 'ORG_NAME' %}
            </div>

            <div class="about__organization__text__two">
              {% chunk 'ORG_NAME_TEXT' %}
            </div>

            <div class="button__zayavka__online">
              <a href="#" class="button__zayavka__text" data-toggle="modal" data-target="#modal-statement">
                Подать заявку на аттестацию</a>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="info__block__right text-right">
              <p class="head__information">Информация</p>
            </div>

            <div class="row align-items-stretch">
              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    <a href="{% link_holder 'PS' %}">{% title_holder 'PS' %}</a>
                  </p>
                </div>
              </div>

              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    <a href="{% link_holder 'ATT_SV' %}">{% title_holder 'ATT_SV' %}</a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    <a href="{% link_holder 'ATT_SP' %}">{% title_holder 'ATT_SP' %}</a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    <a href="{% link_holder 'ATTSM' %}">{% title_holder 'ATTSM' %}</a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    <a href="{% link_holder 'ATTSO' %}">{% title_holder 'ATTSO' %}</a>
                  </p>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="block__inform__name">
                  <p class="pf__text">
                    {% autoescape off %}
                    <a href="{% link_holder 'ATTST' %}">{% title_holder 'ATTST' %}</a>
                    {% endautoescape %}
                  </p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endautoescape %}