{% load static %}
<!-- BG info -->
<div class="bg-block-01">
  <div class="bg">
    <div class="blog-info">
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <img src="{% static 'img/SASP.png' %}" class="sasp__logo" alt="">

            <div class="about__organization__text">
              <p>Западно-сибирский <br>
                <strong>центр оценки квалификаций</strong></p>
            </div>

            <div class="about__organization__text__two">
              <p class="mb-3"><strong>20 лет</strong> мы занимаемся аттестацией сварочного производства и экспертизой промышленной безопасности.
              </p>
              В группу компаний входят ООО "ЗАПАДНО-СИБИРСКИЙ ЦОК" (аттестация персонала сварочного производства и
              оценка квалификации), "ООО АЦ "НЭКС" (аттестация сварочного оборудования и сварочных технологий), ООО
              "НЕФТЕХИМПРОМЭКСПЕРТ" (экспертиза промышленной безопасности)
            </div>

            <div class="button__zayavka__online">
              <a href="#" class="button__zayavka__text" data-toggle="modal" data-target="#modal-statement">
                Подать заявку на аттестацию</a>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="info__block__right text-right">
              <p class="head__information">Информация</p>
            </div>

            <div class="block__obl__proff">
              <div class="block__inform__name">
                <p class="pf__text text-left">
                  <a href="/detailview/post/7#news__box">Профстандарты <br> в области сварки</a>
                </p>
              </div>
            </div>

            <div class="block__obl__proff">
              <div class="block__inform__name">
                <p class="pf__text text-left">
                  <a href="/detailview/post/8#news__box">Область <br> деятельности</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>