{% load static %}{% load link_holders %}
<!-- Services block -->

<div class="block__uslugi">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p class="header__uslugi ">Услуги Центра</p>
      </div>
    </div>

    <!-- services block 1 -->

    <div class="box__uslug">
    {% autoescape off %}
      <div class="row d-flex">
        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'ATT_SP_SV' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-01.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'ATT_SP_SV' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'OK' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-02.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'OK' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'NK' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-06.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'NK' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'ATTSO' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-03.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'ATTSO' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'EPB' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-04.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'EPB' %}
                </li>
              </ul>
            </a>
          </div>
        </div>


        <!-- </div> -->

        <!-- </div> -->

        <!-- <div class="box__uslug__two  "> -->
        <!-- <div class="row d-flex"> -->
        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'RK' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-09.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'RK' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'SPECPOD' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-05.png' %}" class="mask__1" alt="">
                <li>
                {% title_holder 'SPECPOD' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'ATTSM' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-08.png' %}" class="mask__1" alt="">
                <li>
                  {% title_holder 'ATTSM' %}
                </li>
              </ul>
            </a>
          </div>
        </div>

        <div class="col-sm-4 col-xl-2">
          <div class="block__uslug__one">
            <a href="{% link_holder 'ATTST' %}">
              <ul class="specialist__block">
                <img src="{% static 'img/icon-07.png' %}" class="mask__1" alt="">
                <li>{% title_holder 'ATTST' %}</li>
              </ul>
            </a>
          </div>
        </div>



      </div>

    </div>




  </div>
</div>

<!-- services block and -->

<!-- NEWS BLOCK -->
<div class="news__block">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="news__header__content">Новости
          <a href="{% url 'news' %}#news__list__box" class="all__news float-right">
            Все новости <img src="{% static 'img/arrow__next-01.png' %}" alt="">
          </a>
        </p>
      </div>
    </div>



    <div class="row">

      {% if posts %}
      {% for post, picture in posts.items %}
      <div class="col-xs-12 col-xl-6 col-md-6">

        <a href="{% url 'detailview' 'post' post.pk %}#news__box">
          <div class="block__news__one">
            <div class="block__img__news" style="background: url({{ picture.image.url }}) no-repeat;
                                                       background-size: cover;">
              <div class="block__news__box">
                <div class="d-flex flex-row justify-content-start">
                  <div class="date w-30">
                    <p class="date__number text-right">
                      {{ post.published_date|date:"d-m-Y" }}</p>
                  </div>
                  {% for tag in post.tags.all %}
                  <p class="naks__news__tag"><i class="fa fa-hashtag"></i>{{ tag.name }}</p>
                  {% endfor %}
                </div>
                <div class="die__for__text">
                  <p class="text__to__news">
                    {{ post.title }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      {% endif %}


    </div>
  </div>
</div>

<div class="news__block__two">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p class="recent__news__content">Недавние новости</p>
      </div>
    </div>
    <div class="row">
      {% if secondery_news %}
      {% for secondery in secondery_news %}
      <div class="col-xs-12  col-md-6 col-lg-6 col-xl-3">
        <div class="block__agreements ">
          <div class="date">
            <p class="date__number__two text-left">
              {{ secondery.date }} </p>
            {% for tag in secondery.tags.all %}
            <p class="naks__news__tag__two text-right">
              {{ tag.name }}</p>
            {% endfor %}
          </div>
          <div class="block__agreements__text">
            <p class="agreements__header__text">
              {{ secondery.title }}
            </p>
            <p class="subtitle__text"> {{ secondery.short_description }}</p>
          </div>
          <div class="button__download d-flex flex-row align-items-center">
            <i class="fa fa-file"></i><a href="{% url 'detailview' 'post' secondery.pk %}#news__box" class="button__download__text">

                Подробнее
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

      {% endif %}
    </div>
  </div>
</div>

<!-- end news block -->

<!-- Articles -->
<div class="articles__block">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="articles__header__content">Статьи
        </p>
      </div>
    </div>
    <div class="row">

      {% if articles %}
      {% for article in articles %}
      <div class="col-xs-12  col-md-6 col-lg-12 col-xl-4">
        <div class="articles__box ">
          <p class="date__articles text-right"> {{ article.published_date }}</p>
          <p class="articles__text">
            {{ article.title }}
          </p>

          <p class="articles__text__small">
            {{ article.shord_description }}
          </p>
          <div class="button__read text-right">
            <a href="{% url 'detailview' 'article' article.pk %}#news__box" class="read__text__button">
              Читать <img src="{% static 'img/arrow__next-02.png' %}" class="arrow__next__two" alt="">
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>
{% endautoescape %}
<!-- end articles block -->
