{% load static %}
<!-- Меню -->
<div class="menu__background">
  <div class="container ">
    <div class="row align-items-center">
      <div class="col-xl-12">
        <div class="menu__navbar">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Navbar brand -->

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

              <!-- Links -->
              <ul class="navbar-nav mr-auto justify-content-around">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'main' %}">Главная
                    <span class="sr-only">(current)</span>
                  </a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Центр</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="oblast-deatelnosti.html#oblast__deatelnosti__box">Область
                      деятельности</a>
                    <a class="dropdown-item" href="detailview/post/6#news__box">О Нас</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Услуги</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="attestat-svarshik-specialist.html#specialist-block">Аттестация
                      сварщиков
                      и специалистов <br> сварочного производства</a>
                    <a class="dropdown-item" href="#">Оценка квалификаций</a>
                    <a class="dropdown-item" href="#">Неразрушающий контроль</a>
                    <a class="dropdown-item" href="#">Аттестация сварочного <br>
                      оборудования
                    </a>
                    <a class="dropdown-item" href="#">Экспертиза промышленной безопасности</a>
                    <a class="dropdown-item" href="#">Специальная подготовка сварщиков <br>и специалистов сварочного
                      производства</a>
                    <a class="dropdown-item" href="#">Аттестация сварочных материалов</a>
                    <a class="dropdown-item" href="#">Аттестация сварочных технологий</a>

                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Документы</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'documents'%}#rd_id">Руководящие документы</a>
                    <a class="dropdown-item" href="{% url 'documents'%}#nd_id">Нормативные документы</a>
                    <a class="dropdown-item" href="{% url 'documents'%}#sg_id">Соглашения</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav__link__two dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Выписка из реестра САСв</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'reestr' 'personal' %}#news__list__box">Реестр аттестаций персонала сварочного производства </a>
                    <a class="dropdown-item" href="reestr-sasv-oborudovanie.html#reestr__sasv__oborudovanie">Реестр аттестаций сварочного оборудования</a>
                    <a class="dropdown-item" href="reestrt-sasv-svarshik.html#reestr__sasv__svarshik">Реестр аттестаций сварочных технологий</a>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'contact' %}#contact__block">Контакты
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>
            </div>
            <form class="form-inline my-2 my-lg-0  d-lg-block">
              <div class="input-group">
                <input type="text" class="form-control border" name="s" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-search bg-transparent border" type="submit" title="Поиск"><img src="{% static 'img/icon__search.png' %}"
                      alt="Поиск"></button>
                </div>
              </div>
            </form>

          </nav>
          <!--/.Navbar-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Конец меню -->