{% load static %}
<!-- our client -->
<div class="our__client__block">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="our__client__header">
          Наши клиенты
        </p>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col">
        <div class="block__logo__client">
          <img src="{% static 'img/img_logo_company-01.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-02.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-03.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-04.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-05.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-06.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-07.png' %}" alt="">

          <img src="{% static 'img/img_logo_company-08.png' %}" alt="">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- our client -->