{% extends 'mainapp/base.html' %}

{% block content %}

  
  <!-- News block -->
  <div class="news__box" id="news__box">
    <div class="container">
      <button class="button__back__to__main">
        <a href="index.html" class="button__back__to__main__text text-align-center">
          <img src="/img/arrow__next-01.png" class="arrow__back__one" alt=""> На главную
        </a>
      </button>

      <div class="row">
        <div class="col-xl-8">
          <div class="news__box__items">
            <div class="row align-items-center">
              <div class="col-xl-5">
                <div class="news__header__data">
                  <p class="news__header__data__text">
                    05 Июля 2018 &nbsp;|&nbsp; Новости НАКС
                  </p>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="social__seti d-flex justify-content-around">
                  <a href="#"><img src="/img/facebook.png"  title="Поделиться Facebook" target="_blank" alt=""></a>
                  <a href="#"><img src="/img/vkontakte.png" title="Поделиться Вконтакте" target="_blank" alt=""></a>
                  <a href="#"><img src="/img/twitter.png" title="Поделиться Твиттер" target="_blank" alt=""></a>
                  <a href="#"><img src="/img/google.png" title="Поделиться Гугл +" target="_blank" alt=""></a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-xl-1 d-flex">
                <a href="mailto:?subject=Новость НАКС">
                  <div class="email" title="Отправить по почте">
                    <img src="/img/email.png"  alt="">
                  </div>
                </a>
              </div>
              <div class="col-xl-1 d-flex">
                <a href="" onclick="window.print();" title="Распечатать новость">
                  <div class="print">
                    <img src="/img/print.png" alt="">
                  </div>
                </a>
              </div>
            </div>
            <div class="header__top__news__text">
              Независимая оценка квалификации и государственная итоговая
              аттестация выпускников. Реализация пилотного проекта. Белгородская область
            </div>
            <p class="news__text__size">
              Центр оценки квалификаций ООО «НАКС-Белгород»
              и Региональное агентство развития квалификаций
              Белгородской области осуществляли координацию
              деятельности региональных участников данного проекта.
              Экспертами регионального центра оценки квалификаций
              (далее ЦОК) и членами государственных экзаменационных
              комиссий 21, 22, 25, 27 и 28 июня 2018 года проведена
              независимая оценка квалификации, совмещенная с
              государственной итоговой аттестацией обучающихся.
              В ходе данной процедуры определялось соответствие
              уровня подготовки выпускников программ СПО «Сварщик
              (электросварочные и газосварочные работы)»
              и «Сварщик (ручной и частично механизированной
              сварки (наплавки)» требованиям профессионального
              стандарта «Сварщик».
            </p>
            <p class="news__text__bold">
              Оценочные процедуры проводились на площадке экзаменационного
              центра регионального ЦОК ООО «НАКС-Белгород»
              и включали в себя два этапа:
            </p>
            <p class="news__text__size">
              Оценочные процедуры проводились на площадке экзаменационного центра регионального ЦОК ООО «НАКС-Белгород»
              и включали в себя два этапа:

              – теоретический этап предусматривал тестирование в письменной форме, его продолжительность составила 60
              минут;
              – практический этап экзамена предусматривал выполнение выпускниками заданий для определения 2 уровня по
              квалификациям «Сварщик дуговой сварки плавящимся покрытым электродом» и «Сварщик дуговой сварки
              плавящимся электродом в защитном газе». Практические задания студентам необходимо было выполнить в
              модельных, а затем в реальных условиях. Задания в реальных условиях включали выполнение сборки и сварки в
              нижнем и вертикальном пространственных положениях простой неответственной конструкции, последующую
              обработку сварных швов и визуально-измерительный контроль готового изделия; продолжительность
              практического этапа составила 180 минут.
              Студенты использовали комплекты оценочных средств с индивидуальным кодом. Каждый комплект оценочных
              средств содержал тестовые задания трех видов, задания для выполнения практической части экзамена в
              модельных условиях и технологическую карту для выполнения практической части экзамена в реальных
              условиях.
            </p>
            <p class="news__text__size">
              В состав экспертной комиссии по независимой оценке квалификации входили специалисты ЦОК ООО
              «НАКС-Белгород» – Вялых Александр Сергеевич, Шумаков Артём Александрович, Белявцева Надежда Тихоновна,
              Андреев Денис Алексеевич, Резникова Алёна Викторовна. В составы государственных экзаменационных комиссий
              совместно с представленными экспертами ЦОК входили представители образовательных организаций, участвующих
              в пилотном проекте. Таким образом, была совмещена работа двух видов комиссий, данный процесс отражен в
              соответствующих протоколах. Результаты независимой оценки квалификации студентов зачтены в качестве
              выпускной практической квалификационной работы, оцениваемой в процессе государственной итоговой
              аттестации обучающихся по профессиям «Сварщик (электросварочные и газосварочные работы)» и «Сварщик
              (ручной и частично механизированной сварки (наплавки)» в виде демонстрационного экзамена.
            </p>
            <p class="news__text__size">
              В профессиональном экзамене участвовали 50 выпускников-сварщиков девяти профессиональных образовательных
              организаций региона – ОГАПОУ «Губкинский политехнический колледж», ОГАПОУ «Белгородский
              машиностроительный техникум», ОГАПОУ «Белгородский политехнический колледж», ОГАПОУ «Старооскольский
              индустриально-технологический техникум», ОГАПОУ «Старооскольский агротехнологический техникум», ОГАПОУ
              «Шебекинский техникум промышленности и транспорта», ОГАПОУ «Чернянский агромеханический техникум», ОГАПОУ
              «Борисовский агромеханический техникум», ОГАПОУ «Алексеевский агротехнический техникум». По итогам
              экзамена свою квалификацию подтвердили 38 выпускников, что составило 80,95% от числа всех участников
              независимой оценки квалификаций.
            </p>
            <p class="news__text__size">
              В соответствии с постановлением Правительства РФ от 16 июня 2016 года № 1204, утверждающим Правила
              проведения Центром оценки квалификаций независимой оценки квалификации, Совет по профессиональным
              квалификациям в области сварки принял решение о выдаче центром свидетельств о квалификации, заключений о
              прохождении профессионального экзамена обучающимися Белгородской области.
            </p>
            <p class="news__text__size">
              Апробация в рамках пилотного проекта совмещения независимой оценки квалификации и государственной
              итоговой аттестации позволит выпускникам, успешно завершившим обучение по профессиям «Сварщик
              (электросварочные и газосварочные работы)» и «Сварщик (ручной и частично механизированной сварки
              (наплавки)», получить не только диплом о среднем профессиональном образовании, но и свидетельство о
              квалификации федерального уровня. Рынок труда получит квалифицированных рабочих с подтвержденным
              работодателями уровнем квалификации. Информация о свидетельствах размещена в федеральном Реестре сведений
              о проведении независимой оценки квалификации.
            </p>
           
            <div class="footer__to__news">
              <button class="soglashenie__button">
                <a href="#" class="soglashenie__button__text" title="Скачать документ" download="#">Соглашение
                  <img src="/img/download__icon.png" alt="" class="download__icon"></a>
              </button>              
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="gallery__news">  
              <div class="header__tag__theme">
                  Фотографии по теме
                </div>         
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/img/img__news.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/img/img__news2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/img/img__news3.png" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="line__text__news"></div>
          

          <a href="news.html#news__box">
            <div class="block__news__one">
              <div class="block__img__news">
                <div class="block__news__box">
                  <div class="date">
                    <p class="date__number text-right">
                      10 Июля<br> 2018 </p>
                  </div>
                  <p class="naks__news__tag text-right">Новости НАКС</p>
                  <div class="die__for__text">
                    <p class="text__to__news">
                      Соглашение о сотрудничестве между СРО НП "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
         
          <a href="news.html#news__box">
            <div class="block__news__one">
              <div class="block__img__news">
                <div class="block__news__box">
                  <div class="date">
                    <p class="date__number text-right">
                      10 Июля<br> 2018 </p>
                  </div>
                  <p class="naks__news__tag text-right">Новости НАКС</p>
                  <div class="die__for__text">
                    <p class="text__to__news">
                      Соглашение о сотрудничестве между СРО НП "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          
          <a href="news.html#news__box">
            <div class="block__news__one">
              <div class="block__img__news">
                <div class="block__news__box">
                  <div class="date">
                    <p class="date__number text-right">
                      10 Июля<br> 2018 </p>
                  </div>
                  <p class="naks__news__tag text-right">Новости НАКС</p>
                  <div class="die__for__text">
                    <p class="text__to__news">
                      Соглашение о сотрудничестве между СРО НП "НАКС" и CNPC INTERNATIONAL WELDING TRAINING CENTER
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="all-news.html" class="all__news">
              Все новости <img src="img/arrow__next-01.png" alt="">
            </a>          
        </div>
        
      </div>
      
     

      <button class="button__back__to__main">
        <a href="index.html" class="button__back__to__main__text text-align-center">
          <img src="/img/arrow__next-01.png" class="arrow__back__one" alt=""> На главную
        </a>
      </button>

    </div>
  </div>
  <!-- news block end -->

{% endblock  %}
