{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

{% autoescape off %}

<div class="container">
  <!-- NEWS BLOCK -->
  <div class="container-fluid mt-5" id="news__list__box">
    <h2>Все новости</h2>
  </div>


  <div class="row">
    <div class="col-xs-12 col-lg-8">

      <nav aria-label="page navigation example">
        <ul class="pagination ml-3">
          {% if news.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1#news__list__box">В начало</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}#news__list__box">&lt;&lt;Предыдущая</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link">Страница {{ news.number }} из {{ news.paginator.num_pages }}</a></li>
          {% if news.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}#news__list__box">Следующая &gt;&gt;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ news.paginator.num_pages }}#news__list__box">В конец</a></li>
          {% endif %}
        </ul>
      </nav>

    {% if news %}

     {% for obj in news %}
     <div class="container-fluid">
        <a href="{% url 'details' obj.post.pk %}">
          <div class="block__news__one">
            <div class="block__img__news" style="background: url({{ obj.picture.image.url }}) no-repeat; background-size: cover;">
              <div class="block__news__box">
                <div class="container d-flex flex-row justify-content-start">
                  <div class="date">
                    <p class="date__number text-right">{{obj.post.published_date}}</p>
                  </div>
                  <p class="naks__news__tag text-right">{% for tag in obj.post.tags.all %}
                  <i class="fa fa-hashtag"></i>{{tag.name}}
                  {% endfor %}
                  </p>
                  <div class="die__for__text">
                    <p class="text__to__news">
                      {{ obj.post.title }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
     {% endfor %}

       <nav aria-label="page navigation example">
        <ul class="pagination ml-3">
          {% if news.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1#news__list__box">В начало</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ news.previous_page_number }}#news__list__box">&lt;&lt;Предыдущая</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link">Страница {{ news.number }} из {{ news.paginator.num_pages }}</a></li>
          {% if news.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ news.next_page_number }}#news__list__box">Следующая &gt;&gt;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ news.paginator.num_pages }}#news__list__box">В конец</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

    {% if side_related %}
    <div class="col-xs-12 col-lg-4">
      <div class="container-fluid">
        <h3>Возможно, это вас заинтересует</h3>

        {% for element in side_related %}
        <div class="block__agreements">
          <div class="date">
            <p class="date__number__two text-left">
              {{ element.published_date }} </p>
            <p class="naks__news__tag__two text-right">
             {% for tag in element.tags.all %}
             <i class="fa fa-hashtag"></i>{{ tag.name }}
             {% endfor %}</p>
          </div>
          <div class="block__agreements__text">
            <p class="agreements__header__text">
              {{  element.title }}
            </p>
            <p class="subtitle__text">
              {{ element.short_description }}
            </p>
          </div>
          <div class="button__download">
            <a href="{% url 'detailview' 'article' element.pk %}#news__box" class="button__download__text">
              <img src="{% static 'img/icon__doc.png' %}" class="icon__doc" alt="">
              Открыть</a>
          </div>
        </div>
      {% endfor %}

    {% endif %}
    </div>
  </div>
  </div>



{% endautoescape %}
{% endblock %}
<!-- news block -->