{% extends 'mainapp/base.html' %}
{% block content %}
<div class="container">
  <!-- NEWS BLOCK -->
  <div class="container-fluid mt-5">
    <h2>Все новости</h2>
  </div>


  <div class="row">
    <div class="col-xs-12 col-lg-8">

      <nav aria-label="page navigation example">
        <ul class="pagination ml-3">
          <li class="page-item"><a class="page-link" href="#">Первая</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Последняя</a></li>
        </ul>
      </nav>

    {% if news %}

     {% for obj in news %}
     <div class="container-fluid">
        <a href="news.html#news__box">
          <div class="block__news__one">
            <div class="block__img__news" style="background: url({{ obj.picture.image.url }}) no-repeat; background-size: cover;">
              <div class="block__news__box">
                <div class="container d-flex flex-row justify-content-start">
                  <div class="date">
                    <p class="date__number text-right">{{obj.post.published_date}}</p>
                  </div>
                  <p class="naks__news__tag text-right">{% for tag in obj.post.tags.all %}
                  <i class="fa fa-hashtag"></i>{{tag.name}}
                  {% endfor %}
                  </p>
                  <div class="die__for__text">
                    <p class="text__to__news">
                      {{ obj.post.title }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
     {% endfor %}

       <nav aria-label="page navigation example">
    <ul class="pagination ml-3">
      <li class="page-item"><a class="page-link" href="#">Первая</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Последняя</a></li>
    </ul>
  </nav>
    </div> 
      
      
    {% else %}
      
    <div class="container-fluid">
        <a href="news.html#news__box">
          <div class="block__news__one">
            <div class="block__img__news">
              <div class="block__news__box">
                <div class="date">
                  <p class="date__number text-right">
                    10 июля<br> 2018 </p>
                </div>
                <p class="naks__news__tag text-right">новости накс</p>
                <div class="die__for__text">
                  <p class="text__to__news">
                    соглашение о сотрудничестве между сро нп "накс" и cnpc international welding training center
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
 
    {% endif %}
    <div class="col-xs-12 col-lg-4">
      <div class="container-fluid">
      <h3>Возможно, это вас заинтересует</h3>
        <div class="block__agreements">
          <div class="date">
            <p class="date__number__two text-left">
              10 июля 2018 </p>
            <p class="naks__news__tag__two text-right">
              новости накс</p>
          </div>
          <div class="block__agreements__text">
            <p class="agreements__header__text">
              соглашение о сотрудничестве между советом по профессиональным квалификациям в области сварки
            </p>
            <p class="subtitle__text">
              10 июля 2018 года подписано соглашение о сотрудничестве между советом по профессиональным
              квалификациям
            </p>
          </div>
          <div class="button__download">
            <a href="" class="button__download__text" download="">
              <img src="img/icon__doc.png" class="icon__doc" alt="">
              соглашение</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="block__agreements">
          <div class="date">
            <p class="date__number__two text-left">
              10 июля 2018 </p>
            <p class="naks__news__tag__two text-right">
              новости накс</p>
          </div>
          <div class="block__agreements__text">
            <p class="agreements__header__text">
              соглашение о сотрудничестве между советом по профессиональным квалификациям в области сварки
            </p>
            <p class="subtitle__text">
              10 июля 2018 года подписано соглашение о сотрудничестве между советом по профессиональным
              квалификациям
            </p>
          </div>
          <div class="button__download">
            <a href="" class="button__download__text" download="">
              <img src="img/icon__doc.png" class="icon__doc" alt="">
              соглашение</a>
          </div>
        </div>
      </div>

    </div>
  </div>



{% endblock %}
<!-- news block -->