{% extends 'mainapp/base.html' %}
{% load static %}
{% block content%}
  <!-- document block -->
  <div class="reestr__box" id="reestr-sasv-svarshik">
    <div class="container">
      <button class="button__back__to__main">
        <a href="index.html" class="button__back__to__main__text text-align-center">
          <img src="{% static '/img/arrow__next-01.png' %}" class="arrow__back__one" alt=""> На главную
        </a>
      </button>


      <div class="row">
        <div class="col-xl-4">
          <p class="header__reestr__sasv" id="reestr-sasv-svarshik">
            Выписка из реестра САСв 
          </p>
          {% comment %} <p class="personal__cok__acst__text">
            Персонал сварочного производства, аттестованного в аттестационном
            центре <strong> ООО "ЗАПАДНО-СИБИРСКИЦ ЦОК" (АЦСТ - 11)</strong>
          </p>
          <a href="http://www.naks.ru/aso/reestrattso/" class="reestr__link__naks text-align-middle">НАКС - Реестр аттестаций</a> {% endcomment %}
        </div>
      </div>

      <div class="line__text__one__reestr"></div>
      <div class="row">
        <div class="col-lg-3" id="">
          <p class="header__name__selected__reestr" id="news__list__box">
           Выписка из реестра <br> аттестаций сварщиков
          </p>
        </div>
        <div class="offset-lg-3 col-lg-6 d-inline-block align-self-center" id=""> 
            <div class="number__list float-right">
                 <nav aria-label="page navigation example">
                    <ul class="pagination ml-3">
                      {% if records.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page=1#news__list__box">В начало</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ records.previous_page_number }}#news__list__box">&lt;&lt;Предыдущая</a></li>
                      {% endif %}
                      <li class="page-item"><a class="page-link">Страница {{ records.number }} из {{ records.paginator.num_pages }}</a></li>
                      {% if records.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ records.next_page_number }}#news__list__box">Следующая &gt;&gt;</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ records.paginator.num_pages }}#news__list__box">В конец</a></li>
                      {% endif %}
                    </ul>
                </nav>
             </div>      
        </div>
      </div>

      <div class="row">
        
        <div class="col-xl-4">
          <div class="box__search__subject__form">
            <p class="header__text__search__subject">
              Поиск аттестаций
            </p>
            <div class="form-row">
              
                <label for="search__subject__restr">Ф.И.О</label>
                <input type="text" class="form__subject__search" id="">
       
              {% comment %} <div class="col-xl-6">
                <label for="type__of__viev">Вид аттестации</label>
                <select id="type__of__viev" class="drop__down__form">
                  <option selected="">Вн</option>
                  <option>Дп</option>
                  <option>Пв</option>
                  <option>Пр</option>
                </select>
              </div> {% endcomment %}
            </div>
            <div class="form-row">
             
                <label for="search__subject__restr">Место работы</label>
                <input type="text" class="form__subject__search" id="">
             
            </div>
            {% comment %} <div class="form-row">
              <div class="col-xl-6">
                <label for="type__of__viev">Удостоверение</label>
                <select id="type__of__viev" class="drop__down__form">
                  <option selected="">АР-1ГАЦ</option>
                  <option>БР-1АЦ</option>
                  <option>БР-ГАЦ</option>
                  <option>ВВР-1АЦ</option>
                </select>
              </div>
              <div class="col-xl-6">
                <label for="search__subject__restr">Дата выдачи с</label>
                <input type="date" class="form__subject__search">                
              </div>

            </div> {% endcomment %}
            
              {% comment %} <div class="col-xl-6">
                <label for="type__of__viev">Уровень</label>
                <select id="type__of__viev" class="drop__down__form">
                  <option selected="">АР-1ГАЦ</option>
                  <option>БР-1АЦ</option>
                  <option>БР-ГАЦ</option>
                  <option>ВВР-1АЦ</option>
                </select>
              </div> {% endcomment %}
          
                {% comment %} <label for="search__subject__restr">По</label>
                <input type="date" class="form__subject__search">   {% endcomment %}
                
           

            <button type="submit" class="button__search__document" onclick="return false" id="header__doc">
              Найти
            </button>

          </div>
          <button class="extract__form__svarshik">
            <a href="#">
                <p>Выписка из реестра аттестаций СО</p>
            </a>
        </button>
        <button class="extract__form__svarshik">
             <a href="#">
                <p>Выписка из реестра аттетстаций СТ</p> 
             </a>           
        </button>
        </div>
        
        <div class="col-xl-8">
          <div class="header__subject__list text-center text-lg-left">
            <div class="row">
              <div class="col-md-3">
                <p class="name__list">Ф.И.О</p>
              </div>
              <div class="col-md-3">
                <p class="name__list">Должность</p>
              </div>
              <div class="col-md-3">
                <p class="name__list">Номер удостоверения</p>
              </div>
              <div class="col-md-3">
                <p class="name__list">Срок действия</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 ">

            {% if records %}
            
            {% for record in records %}
            
            <div class="accordion" id="accordion__{{ record.id }}">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      
                        <div class="row">
                          <div class="col-lg-3 text-center text-lg-left">
                            <button class="click__named__list" type="button" data-toggle="collapse" data-target="#collapse__{{record.id}}"
                              aria-expanded="true" aria-controls="collapseTwo">
                            {{ record.fio }}
                            </button>
                          </div>
                          <div class="col-lg-3">
                            <p class="additional__information text-center text-lg-left">{{ record.position }}</p>
                          </div>
                          <div class='col-lg-3'>
                            <p class="additional__information text-center text-lg-left">{{ record.udost }}</p>
                          </div>
                          <div class="col-lg-3">
                            <p class="additional__information text-center text-lg-left">от {{ record.date_create }} до {{ record.active_to }}{% if record.active_long %} <br>Продлено до: 
                {{ record.active_long }}{% endif %}</p>
                          </div>
                        </div>
                     
                    </div>

                    <div id="collapse__{{record.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion__{{ record.id }}">
                      <div class="card-body">
                          <div class="row">
                            <div class="col-sm-2 d-inline-block align-middle">
                                <p class="header__additional__information__list text-center text-lg-left">Место работы</p>
                            
                                <p class="subtitle__additional__information__list text-center text-lg-left">{{ record.company }}</p>
                              
                              </div>
                            <div class="col-sm-2 d-inline-block align-middle">
                                <p class="header__additional__information__list text-center text-lg-left">Клеймо</p>
                        
                                <p class="subtitle__additional__information__list text-center text-lg-left">{{ record.stamp }}</p>
                             
                              </div>
                            <div class="col-sm-2 d-inline-block align-middle">
                                <p class="header__additional__information__list text-center text-lg-left">Вид деятельности</p>
                           
                                <p class="subtitle__additional__information__list text-center text-lg-left">{{ record.vid_d }}</p>
                              
                              </div>
                            <div class="col-sm-3 d-inline-block align-middle">
                                <p class="header__additional__information__list text-center text-lg-left">Область аттестации</p>
                           
                                <p class="subtitle__additional__information__list text-center text-lg-left">{{ record.obl_att }}</p>
                            
                              </div>
                            <div class="col-sm-2 d-inline-block align-middle">
                                <p class="header__additional__information__list text-center text-lg-left">Место аттестации</p>
                            
                                <p class="subtitle__additional__information__list text-center text-lg-left">{{ record.place }}</p>
                              
                              </div>
                          
                          
                          </div>

                      </div>
                    </div>
                  </div>
                </div>
            
            
            
            
            {% endfor %}
            
            
            {% endif %}

            </div>
          </div>          
         

        </div>
        
      </div>
     
      <button class="button__back__to__main">
        <a href="index.html" class="button__back__to__main__text text-align-center">
          <img src="{% static '/img/arrow__next-01.png' %}" class="arrow__back__one" alt=""> На главную
        </a>
      </button>
    </div>

  </div>

  {% endblock %}